---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='Welcome to Astro.'>
	<header>
		<nav class='flex items-center bg-blue-200 p-1'>
			<a class='bg-red-400/50' href='/'>ABC</a>

			<div class='menu bg-green-400/50'>
				<a class='inline-block bg-orange-400/50' href='#'>Features</a>
				<a class='inline-block bg-yellow-400/50' href='#'>Pricing</a>
				<a class='inline-block bg-pink-400/50' href='#'>About us</a>
			</div>

			<div class='bg-purple-400/50'>
				<a href='#'>Login</a>
			</div>
		</nav>
	</header>
	<main>
		<p>Hello world</p>
	</main>
</Layout>

<style>
	nav > * {
		display: flex;
	}
	nav > :first-child,
	nav > :last-child {
		flex: 1 1 0;
	}

	nav > :last-child {
		justify-content: flex-end;
	}

	.menu a {
	}
</style>
